{{>layouts/header}}
<body>
<h1>안녕하세요. 머스테치입니다</h1>
</body>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary"/>글 등록</a>
        </div>
    </div>
</div>

{{>layouts/footer}}